body {
  margin: 0px;
  width: "100vw";
  height: "100vh";
  user-select: none;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
